<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.PixelBin"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:targetSdkVersion="17"
            android:minSdkVersion="15"/>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application android:label="@string/app_name" android:icon="@drawable/pixelbin_icon6_144x144_rounded" android:theme="@android:style/Theme.NoTitleBar.Fullscreen">

        <activity android:name="SplashScreen"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Registration_Activity"/>
        <activity android:name=".Login_Activity"/>
        <activity android:name=".Home_Activity"/>
        <activity android:name=".GeneratePicture_Activity"/>
        <activity android:name=".PictureViewer"/>
        <activity android:name=".SavedFunctionsActivity"/>
        <activity android:name=".ThePixelBinActivities.PixelBin_Activity"/>
    </application>

</manifest>
